@charset "utf-8";
/* maintenance & repair */
:root {
  /* color setting */
  /* main color */
  --hue-color: 38;
  /* basic theme */
  --primary-color: hsl(var(--hue-color), 99%, 60%);
  --hover-color: hsl(var(--hue-color), 99%, 70%);
  --primary-bgcolor-lighter: hsl(var(--hue-color), 99%, 89%);

  --black-color: hsl(var(--hue-color), 5%, 15%);
  --gray-color: hsl(var(--hue-color), 9%, 40%);
  --white-color: #fff;
  --grey-color: #989898;

  --body-color: hsl(var(--hue-color), 60%, 99%);

  /* font setting */
  --body-font: "Noto Sans KR", sans-serif;

  /* section title */
  --sec-main-size: 4rem;
  --sec-sub-size: 1.5rem;

  /* basic */
  --h1-font-size: 6rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.25rem;
  --big-font-size: 3rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  --copyright-size: 0.8rem;

  /* ----------------------- icon-fontsize ----------------------- */
  --icon-theme: 2rem;
  --icon-title: 2.5rem;

  /* ----------------------- font-weight ----------------------- */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font--bold: 700;

  /* ----------------------- margin bottom ----------------------- */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-5: 5rem;

  /* ----------------------- padding ----------------------- */
  --pd-0-25: 0.25rem;
  --pd-0-5: 0.5rem;
  --pd-0-75: 0.75rem;
  --pd-1: 1rem;
  --pd-1-5: 1.5rem;
  --pd-2: 2rem;
  --pd-2-5: 2.5rem;
  --pd-3: 3rem;
  --pd-3-5: 3.5rem;
  --pd-5: 5rem;

  /* ----------------------- z index ----------------------- */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: 
  local('Noto Sans'),
  url('./font/Noto_Sans_KR/NotoSansKR-Regular.otf') format('truetype');
}
body {
  font-family: 'Noto Sans Kr', sans-serif;
}
body {
  background: var(--body-color);
  color: var(--black-color);
}

.inner {
  min-width: 340px;
}
/* ----------------------- dark-theme ----------------------- */
body.dark-theme {
  --black-color: hsl(var(--hue-color), 8%, 95%); /* 흰색으로 바뀝니다 */
  --body-color: hsl(var(--hue-color), 10%, 10%); /* 어두운 색으로 바뀝니다 */
}

.section {
  height: 100vh;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ----------------------- seciton title ----------------------- */
.section__title {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: var(--mb-5);
}
.main__title {
  font-size: var(--sec-main-size);
}
.sub__title {
  font-size: var(--sec-sub-size);
  color: var(--primary-color);
}

/* ----------------------- button ----------------------- */
.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: 0.5rem;
}
