@charset "utf-8";
@import url(./reset.css);
@import url(./common.css);
/* @import url(./slick.css); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.wrap {
  display: flex;
  position: relative;
}
/* .aside {
} */
.aside {
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  min-width: 240px;
  background: var(--primary-color);
}
.main__container {
  padding-left: 240px;
  /* 다른 방법 강구 */
}
@media (max-width: 500px) {
  .aside {
    display: none;
  }
  .main__container {
    padding-left: 0;
  }
}

.header__logo > img {
  width: 50px;
  height: 50px;
}

.header {
  display: flex;
  justify-content: center;
  /* border: 1px solid #000; */
  height: 70%;
}
.header__nav {
  /* min-height: 500px; */
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.header__logo--wrap {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}
.header__logo {
}
.header__theme {
}
.theme__dark {
}
.menu__content {
}
.menu__list {
  /* background: pink; */
  border: 1px solid #000;
  height: 3rem;
  line-height: 3rem;
}
.menu__list:hover {
  background: var(--primary-color-lighter);
}

.header__link {
  display: flex;
  /* border: 1px solid #000; */
  justify-content: space-evenly;
}
.link__blog > img {
  /* border: 1px solid #000; */
  height: 4rem;
  width: 4rem;
}
.link__github > img {
  /* border: 1px solid #000; */
  height: 4rem;
  width: 4rem;
}
.footer__content {
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: center;
  border: 1px solid #000;
}
.footer__info {
}
.footer__info > p {
  margin: 5px 0;
}

/* section start */

/* 반응형 */
/* .main__container {
  position: relative;
  left: 0;
} */

.sub__title {
  color: var(--gray-color);
}

/* intro section */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50vh;
  /* background: skyblue; */
  /* margin-bottom: var(--mb-1-5); */
}
.intro__sub {
  width: 70%;
  border: 1px solid #000;
}

/* skills section */
.skills {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: var(--mb-3);
  height: 50vh;
}
.skills__wrap {
  /* width: 70%; */
  /* border: 1px solid #000; */
}
.title__wrap {
  display: flex;
  margin-left: -1rem;
  margin-bottom: var(--mb-2-5);
  /* border: 1px solid #000; */
  /* border: 1px solid #000; */
}

.skills__title {
  /* position: relative; */
}
.title__bar {
  height: 3.2rem;
  width: 0.5rem;
  margin-right: 0.5rem;
  align-self: center;
  background: gold;
}
.skills__content {
  display: flex;
  /* flex-direction: column; */
  border: 1px solid var(--gray-color);
}
.skills__content > div {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
}
.skills__item {
  display: flex;
  width: 19rem;
  /* 마찬가지로 줄이면 컨텐츠 좌측 aside로 넘어감 */
  /* height: 4rem; */
  margin: 1rem 1rem;
}

.skills__progressbar {
  flex: 8;
  /* background: pink; */
  /* border: 1px solid #000; */
  align-self: center;
  display: flex;
  flex-direction: column;
}
.progressbar__desc {
  display: flex;
  justify-content: space-between;
  padding: 0 0.3rem;
}
.progressbar__full {
  position: relative;
  height: 1.2rem;
  width: 100%;
  background: var(--primary-color-lighter);
  margin-bottom: var(--mb-0-5);
}
.progressbar__percent {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
  height: 1.2rem;
  background: var(--primary-color);
  color: #fff;
  text-align: end;
  line-height: 1.1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  /* border: 1px solid #000; */
}
.skills__think {
  background: var(--primary-bgcolor);
  font-size: 0.9rem;
  padding: 5%;
  margin-bottom: var(--mb-0-5);
}
.dropdown__arrow {
  display: flex;
  justify-content: center;
}
.arrow__down {
  width: 1.4rem;
  height: 1.2rem;
}
.skills__arrow {
  flex: 1;
  top: 1.3rem;
  position: relative;
  align-self: flex-start;
}
/* portfolio section */
/* .portfolio {
  display: flex;
  flex-direction: column;
  height: 50vh;
  border: 1px solid #000; */
/* margin-bottom: var(--mb-1-5); */

/* about section */
.about {
  /* 50vh 주면 컨텐츠가 흘러 넘침 */
  display: flex;
  justify-content: center;
  margin-bottom: var(--mb-3);
  height: 50vh;
}
.about__title {
  /* margin-bottom: var(--mb-1-5); */
}
.about__content {
  display: flex;
  /* border: 1px solid #000; */
  text-align: center;
}
.resume__myself > img {
  width: 160px;
  margin-bottom: var(--mb-0-25);
}
.resume__wrap {
  margin-right: 2rem;
}

/* .about__content > div, */
.interview__item--wrap {
  border: 1px solid var(--gray-color);
  padding: 2rem 3rem 2rem 2rem;
}

.interview__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.about__download {
  position: absolute;
  left: 0;
  /* 수치 조정 */
}
.interview__item {
  display: flex;
  flex-direction: column;
  width: 24rem;
}
.interview__question {
  display: flex;
  position: relative;
  padding-left: 1rem;
  background: var(--primary-color);
  margin-bottom: var(--mb-0-5);
}
.interview__arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  margin-right: -0.5rem;
}
@media (max-width: 500px) {
  .about {
    justify-content: space-between;
  }
}

/* contact section */
.contact {
  display: flex;
  height: 50vh;
  justify-content: center;
}
.contact > div {
  position: relative;
}
.contact__title {
}
.contact__desc > h4 {
  margin-bottom: var(--mb-1-5);
}

.contact__kakao {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.kakao__modal {
}
.kakao__modal > img {
  width: 7rem;
  height: 7rem;
}
.contact__email {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__email > form {
  display: flex;
  flex-direction: column;
}
.email__item {
  display: block;
}

.portfolio__wrap {
  background: var(--primary-bgcolor);
  margin-bottom: var(--mb-3);
  height: 50vh;
}

.test {
  /* width: 100%; */
  border: 3px solid red;
  width: 300px;
  margin: 0 auto;
}

/* scroll up btn */

.scrollup {
  position: fixed;
  right: 3%;
  bottom: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: var(--primary-color);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}
.scrollup.visible {
  bottom: 4rem;
  visibility: visible;
}
