@charset "utf-8";
@import url(./reset.css);
@import url(./common.css);
/* @import url(./slick.css); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.wrap {
}
/* aside bar */
.aside {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: none; */
  z-index: 100;
  height: 100vh;
  width: 200px;
  background: var(--primary-color);
}
/* 반응형 */
/* @media (max-width: 500px) { */
/* .aside {
    display: none;
  } */

/* 반응형 on aside -> header로 */
.header {
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* border: 1px solid #000; */
  /* height: 70%; */
  /* border: 1px solid #000; */
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.logo__container {
  align-self: center;
  margin-bottom: var(--mb-3);
}
.header__logo > a > img {
  width: 50px;
  height: 50px;
}
.darkmode {
  /* border: 1px solid #000; */
  margin-bottom: var(--mb-3);
}
.darkmode i {
  font-size: var(--font-icon-theme);
}

/* 다크모드 클릭 이벤트 */
.dark__theme {
  /* color: var(--primary-bgcolor); */
}
.basic__theme {
  color: var(--primary-bgcolor);
  display: none;
}
/* 클릭 이벤트 끝 */

.header__gnb {
}
.gnb__list {
  /* border: 1px solid #000; */
  padding: var(--pd-0-75);
}
.header__gnb > a:last-child {
  margin-bottom: var(--mb-3);
}
.gnb__list:hover {
  background: var(--primary-bgcolor-lighter);
}

.header__link {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-1-5);
}
.header__link img {
  height: 3rem;
  width: 3rem;
}
.footer__content {
  display: flex;
  justify-content: center;
  /* border: 1px solid #000; */
}
.footer__mymail {
  margin-bottom: var(--mb-1);
}
.footer__copyright {
  font-size: 12px;
}
/* 반응형 */
/* .main__container {
  position: relative;
  left: 0;
} */
/* scroll up btn */

/* section start */
.main__container {
  padding-left: 200px;
  /* background: var(--white-color); */
  /* z-index: -1; */
}
.intro {
  background: url(../img/intro/work-731198_1920.jpg) rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  height: 100%;
  z-index: -20;
}
.intro::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -10;
  background: rgba(0, 0, 0, 0.7);
}
.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  color: var(--white-color);
}
.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: var(--mb-3);
}
.intro__title h2 {
  color: var(--primary-color);
  font-size: 2rem;
}
.intro__title h1 {
  font-size: 6rem;
}
.intro__sub {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}
.intro__sub > span {
  margin-bottom: var(--mb-0-5);
}
/* about seciton start */
.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.scrollup {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  right: 3%;
  bottom: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  opacity: 0.8;
  /* z-index: var(--z-tooltip); */
  transition: 0.4s;
  visibility: hidden;
}
.scrollup > i {
  margin-left: 1px;
  margin-bottom: 6px;
  font-size: 4rem;
}
.scrollup.visible {
  bottom: 4rem;
  visibility: visible;
}
