@charset "utf-8";
@import url(./reset.css);
@import url(./common.css);
@import url(./responsive.css);

.wrap {
}
/* aside bar */
.aside {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: var(--z-fixed);
  height: 100vh;
  width: 200px;
  background: var(--primary-color);
}
.header {
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.logo__container {
  align-self: center;
  margin-bottom: var(--mb-3);
}
.header__logo > a > img {
  width: 50px;
  height: 50px;
}
.darkmode {
  margin-bottom: var(--mb-3);
  cursor: pointer;
  color: var(--primary-bgcolor-lighter);
}
.darkmode:hover {
  transition: all .7s;
  color: var(--black-color);
}
.darkmode i {
  font-size: var(--icon-theme);
}

/* 다크모드 클릭 이벤트 */
#btn__basic {
  display: none;
  color: #000;
}
#btn__basic:hover {
  transition: all .7s;
  color: var(--white-color);
}
/* 클릭 이벤트 끝 */

.header__gnb {
  font-weight: var(--font--bold);
}
.gnb__list {
  /* border: 1px solid #000; */
  padding: var(--pd-0-75);
}
.header__gnb > a:last-child {
  margin-bottom: var(--mb-3);
}
.gnb__list:hover {
  background: var(--body-color);
}
.header__link {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-1-5);
}
.header__link img {
  height: 3rem;
  width: 3rem;
}
.footer__content {
  display: flex;
  justify-content: center;
  /* border: 1px solid #000; */
}
.footer__mymail {
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}
.footer__copyright {
  font-size: var(--copyright-size);
}
/* 반응형 */
/* .main__container {
  position: relative;
  left: 0;
} */
/* scroll up btn */

/* section start */
.main__container {
  padding-left: 200px;
}
.intro {
  background: url(../img/intro/work-731198_1920.jpg) rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  height: 100%;
  z-index: -20;
}
.intro::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -10;
  background: rgba(0, 0, 0, 0.7);
}
.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  color: var(--white-color);
}
.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: var(--mb-3);
}
.intro__title h2 {
  color: var(--primary-color);
  font-size: var(--h2-font-size);
}
.intro__title h1 {
  font-size: var(--h1-font-size);
}
.intro__sub {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}
.intro__sub > span {
  margin-bottom: var(--mb-0-5);
}
/* about seciton start */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__content {
  display: flex;
  justify-content: center;
}
.about__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: var(--mb-3);
  margin-right: 3rem;
  padding: 2%;
}
.about__item:first-child {
  justify-content: space-evenly;
}
.about__item:last-child {
  margin-right: 0;
}
.about__img {
  width: 200px;
  margin-bottom: var(--mb-0-5);
  overflow: hidden;
}
.about__img img {
  max-width: 100%;
  vertical-align: top;
  transition: all 0.4s;
}
.about__img img:hover {
  transform: scale(1.1);
}
.about__resume {
}
.about__resume > a {
  text-align: center;
  width: 200px;
}
.about__item--title {
  display: flex;
}
.about__item--title i {
  color: var(--primary-color);
  vertical-align: top;
  font-size: var(--icon-title);
  margin-right: var(--mb-0-5);
  margin-bottom: var(--mb-0-5);
}
.about__item--title h2 {
  font-size: var(--sec-sub-size);
  line-height: 2.3rem;
}
.about__item--desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--grey-color);
  line-height: 2rem;
}
/* about section end */
/* skills section start */
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills__content {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
}
.skills__item {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-shrink: 0;
  margin-bottom: var(--mb-3);
  padding-right: var(--pd-2);
}
.skills__item:last-child {
  width: 100%;
}
.skills__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--mb-1);
  cursor: pointer;
}
.skills__title {
  display: flex;
  align-items: center;
}
.skills__title i {
  margin-right: var(--mb-1);
}
.skill__icon,
.skill__icon--arrow {
  font-size: 3rem;
  color: var(--primary-color);
  transition: 0.3s;
}
.skill__icon--arrow.active {
  transform: rotate(180deg);
}
.skill__progress {
  padding-left: 3.2rem;
  margin-bottom: var(--mb-1-5);
}
.skillbar__title {
  display: flex;
  justify-content: space-between;
}
.skillbar__title h3 {
  font-weight: var(--small-font-size);
}
.skillbar__full {
  border-radius: 0.5rem;
  height: 10px;
  overflow: hidden;
  background: var(--primary-bgcolor-lighter);
}
.skillbar__percent {
  display: block;
  height: 100%;
  background: var(--primary-color);
}
.html {
  width: 90%;
}
.css {
  width: 80%;
}
.js {
  width: 70%;
}
.ps {
  width: 70%;
}
.il {
  width: 70%;
}
.github {
  width: 70%;
}
.communication {
  width: 90%;
}
.driving {
  width: 80%;
}
.skill__data {
  display: none;
}
.show {
  display: block;
}
/* skills section end */

/* portfolio seciton start */
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.portfolio__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* portfolio - publishing */
.portfolio__publishing {
  flex: 1;
  margin-bottom: var(--mb-5);
}
.publishing__title {
  display: flex;
  margin-bottom: var(--mb-2);
}
.publishing__title i {
  font-size: 3rem;
  padding-right: var(--pd-0-5);
  vertical-align: top;
}
.publishing__title h2 {
  vertical-align: top;
  line-height: 4.7rem;
}
.slick__button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: var(--font-medium);
  text-align: center;
  padding: .5rem;
  border-radius: 0.5rem;
  width: 200px;
}
.slick__button:hover {
  background-color: var(--hover-color);
}
.portfolio__slider {
  box-shadow: 0 0 2px var(--grey-color) ;
  padding: 3%;
  max-width: 960px;
  margin: 0 auto;
}
.slider__content {
  display: flex;
  justify-content: center;
  /* 반응형 시 */
  /* flex-direction: column; */
}
.slider__img {
  flex: 1;
  padding: var(--mb-0-5);
  overflow: hidden;
}
.slider__img img {
  max-width: 100%;
  height: 300px;
  border-radius: .5rem;
}
.slider__desc {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: var(--pd-1-5);
  padding: var(--pd-1);
}
.slider__desc h2 {
  margin-bottom: var(--mb-0-5);
}
.slider__desc p {
  color: var(--grey-color);
  margin-bottom: var(--mb-1-5);
}
.slider__buttons {
  display: flex;
  justify-content: center;
}
.slick__button:first-child {
  margin-right: var(--mb-1);
}
.slick-prev,
.slick-next
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
.slick-prev {
  left: -4rem;
}
.slick-next {
  right: -4rem;
}
.slick-prev:after,
.slick-next:after{
  font-size: 4rem;
  color: var(--primary-color);
}
.slick-prev:after,
.slick-next:after{
  font-family: unicons-line;
}
.slick-prev:after {
  content: '\ec49';
}
.slick-next:after {
  content: '\eb9f';
}
.slick-dots {
  padding-top: var(--pd-1);
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.slick-dots li.slick-active button {
  background: var(--primary-color);
}
.slick-dots li {
  margin-right: .5rem;
}
.slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0;
  border: none;
  cursor: pointer;
}
/* portfolio - design */
.portfolio__design {
  margin-top: var(--mb-5);
  margin-bottom: var(--mb-5);
}
.design__title {
  display: flex;
  margin-bottom: var(--mb-2);
}
.design__title i {
  font-size: 3rem;
  padding-right: var(--pd-0-5);
  vertical-align: top;
}
.design__title h2 {
  vertical-align: top;
  line-height: 3rem;
}
.modal__content {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}
.modal__item {
  overflow: hidden;
  width: 300px;
  margin-right: var(--mb-1-5);
  margin-bottom: var(--mb-1);
  height: 300px;
}
.modal__item:nth-child(3n) {
  margin-right: 0;
}
.modal__item img {
  width: 100%;
  height: 300px;
}
.modal__img {
  cursor: pointer;
}
.portfolio__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: var(--z-modal);
  display: none;
}
.portfolio__modal {
  position: absolute;
  width: 600px;
  background: var(--white-color);
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid var(--grey-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: var(--z-modal);
}
/* contact */
.contact {
  display: flex;
  justify-content: center;
}
.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__content {
  padding: 2%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: var(--mb-5);
}
.contact__kakao {
  flex:1 ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}
.kakaotalk {
  height: 300px;
  cursor: pointer;
}
.contact__kakao .btn {
  display: block;
  align-self: center;
  text-align: center;
  width: 200px;
}
.kakao__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: var(--z-modal);
  display: none;
}
.kakao__modal {
  width: 500px;
  background: var(--white-color);
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid var(--grey-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: var(--z-modal);
}
.kakao__btn {
  margin-top: var(--pd-1);
  cursor: pointer;
}
.contact__info {
  flex: 1;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: var(--pd-2-5);
}
.info__desc > h3 {
  padding-top: var(--pd-2);
  margin-bottom: var(--mb-1);
}
.info__desc span {
  display: block;
  padding-bottom: var(--pd-0-5);
  font-size: var(--normal-font-size);
  color: var(--grey-color);
}
.info__email {
  display: flex;
}
.info__email > i {
  padding-right: var(--pd-0-5);
  line-height: 2.3rem;
  font-size: var(--h2-font-size);
  color: var(--primary-color);
}
/* scroll up btn */
.scrollup {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  right: 3%;
  bottom: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}
.scrollup > i {
  color: var(--white-color);
  margin-left: 1px;
  margin-bottom: 6px;
  font-size: 4rem;
}
.scrollup.visible {
  bottom: 4rem;
  visibility: visible;
}
